body {
  font-family: "Touche W03 Bold", sans-serif;	
  padding: 0;
  margin: 0;
}

div, a, p, img, button, form {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #585858;  
  border: none;
}

p {
  color: #a4a3a8;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.header {
  margin: 0 auto;
  box-shadow: 10px 0 0 rgba(0,0,0,0.5);
  height: 44px;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.logo {  
  height: 44px;
  width: auto;
  margin-left: 0;
}

.nav {
  height: 44px;     
  display: flex;
  align-items: center;   
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
  display: flex;    
  font-weight: bolder;
  margin-right: 0;
  margin-left: auto;
  float: right;
}

.menu li {
  font-size: 9px;
  margin-right: 21px;
  color: #909092;  
}

.li1 {
  height: 10px;
  width: auto;
}

.logo {  
  height: 30px;
  width: auto;
}

.main {
  margin: 0;
  padding: 0;  
}

.article {
  background: #f9f8fe;
  padding: 0;
  margin-top: 0;
  height: 720px;
  border-top: 2px solid #ccc;
}

.title {
  padding-top: 150px;
  margin-bottom: 0.5em;
}

.container {
  margin-top: 0px;
}

.container h1 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}

.container p {
  font-size: 10px;
  text-align: center;
}

.main article img {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 50px;
 }

/*.triangles {
  width: 593px;
  height: 312px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}*/

.title1 {
  margin-top: 100px;
  margin-bottom: 0.5em;
}

.box {
  display: flex;
  justify-content: space-between;
  /*border: 2px solid #ccc;*/
}

.boxing {
  display: flex;
  /*border: 2px solid #ccc;*/
  max-width: 425px;
  padding-top: 0px;
  margin: 0px;
}

.boxpng {
  width: 66px;
  padding: 0px;
  margin: 0px;
}

.boxlogo {
  /*border: 2px solid #ccc;*/
}

.article1 h4 {
margin-bottom: 0.5em;
padding: 0;
margin-top: 0;
}

.box {
  margin-top: 50px;
}

.box p {
  text-align: left;  
}

.boxtext {
  padding-left: 100px;
  margin-top: 20px;
}